@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
     --color-primary: #21B573;
     --color-secondary: #F0FFF0;
     --color-tartiary: #FD511A;
     --color-forth: #f6fffa;
}

/* * {
    margin-top: 10px;
    margin-left: 10px;
} */
body {
    font-family: 'Poppins', sans-serif;
}

/* header */
header {
    background-color: var(--color-secondary);
}

.navbar-brand img {
    width: 200px;
}

.sign-in {
    background-color: var(--color-primary);
    border-radius: 33px;
    color: white !important;
}

.sign-in:focus {
    outline: none;
}

.nav-link {
    margin-right: 10px;
}

.my-btn {
    border: none;
    text-decoration: none;
    padding: 10px 30px;
    background-color: var(--color-primary);
    color: white;
    border-radius: 33px;
    font-size: 16px;
    width: 152px;
}
.my-btn:hover, .sign-in:hover {
    background: #FD511A;
    transition: 0.7s;
    transform: scaleX(1.1);
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, .55);
    padding: 10px 25px;
}

/* .navbar {
    margin-top: 10px, var(--color-secondary);
} */

.illustration {
    width: 93%;
    height: auto;
}


.hero h6 {
    font-size: 16px;
    color: var(--color-tartiary);
    margin-bottom: 10px;
}

.hero h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero h1 span {
    color: var(--color-primary);
}


/* features */
.card-img-top {
    width: 67px;
    height: 72px;
}

.card {
    background-color: var(--color-forth);
    border-radius: 10px;
    transition: all 0.3s ease;
    padding: 50px 0;
    text-align: center;
    border-style: none;
}

.card:hover {
    background-color: white;
    box-shadow: 0 0 40px rgba(0, 0, 0, .2);
}