@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
     --color-primary: #21B573;
     --color-secondary: #F0FFF0;
     --color-tartiary: #FD511A;
     --color-forth: #f6fffa;
}

/* * {
    margin-top: 10px;
    margin-left: 10px;
} */
body {
    font-family: 'Poppins', sans-serif;
}

/* header */
header {
    background-color: var(--color-secondary);
}

.navbar-brand img {
    width: 200px;
}

.sign-in {
    background-color: var(--color-primary);
    border-radius: 33px;
    color: white !important;
}

.sign-in:focus {
    outline: none;
}

.nav-link {
    margin-right: 10px;
}

.my-btn {
    border: none;
    text-decoration: none;
    padding: 10px 30px;
    background-color: var(--color-primary);
    color: white;
    border-radius: 33px;
    font-size: 16px;
    width: 152px;
}
.my-btn:hover, .sign-in:hover {
    background: #FD511A;
    transition: 0.7s;
    transform: scaleX(1.1);
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, .55);
    padding: 10px 25px;
}

/* .navbar {
    margin-top: 10px, var(--color-secondary);
} */

.illustration {
    width: 93%;
    height: auto;
}


.hero h6 {
    font-size: 16px;
    color: var(--color-tartiary);
    margin-bottom: 10px;
}

.hero h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero h1 span {
    color: var(--color-primary);
}


/* features */
.card-img-top {
    width: 67px;
    height: 72px;
}

.card {
    background-color: var(--color-forth);
    border-radius: 10px;
    transition: all 0.3s ease;
    padding: 50px 0;
    text-align: center;
    border-style: none;
}

.card:hover {
    background-color: white;
    box-shadow: 0 0 40px rgba(0, 0, 0, .2);
}

/*  */
/* online courses */
.cor-card {
    border-radius: 18px;
}
/* .cor-card > img {
    padding: ;
} */
.cor-card {
    border: none;
    border-radius: 18px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    padding: 15px 15px;
}
.cor-card:hover {
    background-color: var(--color-forth);
    transition: 0.2s ease-in-out all;
    box-shadow: 0 0 40px rgba(20, 19, 20, 0.415);
}
.seats {
    margin-left: 89px;
}
/*  */

/* testimonail */
#testimonial {
    margin: 16px 30px;
}
#testimonial > .container > h1 {
    font-weight: 600;
}
/*  */

/* footer */
footer ul {
    list-style: none;
}
footer ul li {
    margin-bottom: 10px;
}
footer ul > li:hover {
    cursor: pointer;
    transition: 0.6s;
    color: var(--color-primary);
}
.footer-active {
    font-weight: 700;
    font-size: 18px;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 2fr ;
    grid-gap: 2px;
}
.footer-grid-1 {
    display: grid;
    grid-template-columns: 1fr;
}
.footer-grid-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: repeat(auto-fill, 1fr 1fr 1fr); */
}

@media (max-width: 768px) {
    .footer-grid {
        display: flex;
        flex-wrap: wrap;
        row-gap: 30px;
    }
    .footer-grid-1 {
        display: flex;
        flex-basis: 100%;
        justify-content: center;
    }
    .footer-grid-2 {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 73%;
        justify-content: center;
    }
}


/*  */
.item.social {
    text-align:center;
}
  
@media (max-width:991px) {
    .item.social {
        text-align:center;
        margin-top:20px;
    }
}
  
.item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
.item.social > a:hover {
    opacity: 2;
    color: #fdd019fb;
    transition: 0.3s;
}
  
